#nav-items {
  text-transform: capitalize;
  width: 120px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #ba68c8 !important;
}

#logoText {
  color: #fc8370;
  font-weight: 550;
}
